<div class="modal-header">
  <div class="rw-modal-movable no-pad col-lg-10 col-md-10 col-sm-10 col-xs-9">
    <h4 class="modal-title">{{config.title | translate}}</h4>
  </div>
  <div class="no-pad col-lg-2 col-md-2 col-sm-2 col-xs-3">
    <button type="button" class="modal-tlb-btn" ng-click="close()">
      <span class="glyphicon glyphicon-remove"/>
    </button>
    <button type="button" class="modal-tlb-btn" ng-click="minimize()">
      <span class="glyphicon glyphicon-minus"/>
    </button>
  </div>
</div>
