<!-- Footer -->
<div style="width: 100%;
    background-color: #e20a16;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 20px;">
  <a style="color: white;" href="https://form.agid.gov.it/view/62686d3e-6804-42c9-9dd0-2ae29f8fea3f" target="_blank"
rel="noopener noreferrer">Dichiarazione di accessibilità</a>&nbsp-&nbsp
  <a style="color: white;"  href="https://www.comune.bari.it/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
<div style="height: 20px;line-height: 2;font-size: 11px; text-align: center; width:100%; background-color: #e20a16; color: white;">
  <a style="color: white;" href="https://form.agid.gov.it/view/5b08f760-82e5-11ee-b466-0be0a4f2cbbe" target="_blank" rel="noopener noreferrer">Dichiarazione di accessibilità</a> -
  <a style="color: white;"  href="https://www.comune.bari.it/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
</div>
<div class="text-center">
  <img ng-src="image/footer.png"/>
</div>
