<div class="layer-tree-node layer-tree-node-content autoHeight" ui-tree-handle>
  <!-- L -->
  <div class="row no-margin">
   <a class="pull-left cursorPointer" ng-if="group.layers.length>0"
    ng-click="toggle(this)">
      <span class="glyphicon glyphicon-chevron-right"
        ng-class="{'glyphicon-chevron-right': collapsed,
        'glyphicon-chevron-down': !collapsed}">
      </span>
    </a>
    <p class="layer-no-border layer-tree-label itemTitle noMargin
      cursorPointer col-lg-9 col-md-9 col-sm-9 col-xs-7"
      ng-if="group.op=='U'" ng-click="toggle(this)">
        {{group.label|translate}}
    </p>

    <div style="position:absolute; right:10px">
      <a class="pull-right btn btn-danger btn-xs"
        ng-click="removeLayer(this)"
        title="{{'WORDS.DELETE' | translate}}">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
      <a class="pull-right btn btn-default btn-xs
        layer-tree-node-btn" ng-click="addLayer(this)"
        ng-disabled="!(this.$modelValue._canHaveChildren)"
        title="{{'WORDS.ADD' | translate}}">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
      <a class="pull-right btn btn-default btn-xs
        layer-tree-node-btn"
        ng-click="editLayer(this)"
        title="{{'WORDS.MODIFY' | translate}}">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </div>

  </div>
</div>

<ol ui-tree-nodes="" ng-model="group.layers" ng-class="{hidden: collapsed}">
  <li ng-repeat="group in group.layers"
    ng-include="'core/webgis/views/layer-tree-item.html'" ui-tree-node>
  </li>
</ol>
